.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  /* background-color: rgb(243, 243, 243); */
}

.header {
  font-family: 'DM Sans', sans-serif;
  font-size: 2em;
  color: rgb(117, 117, 117);
}

.add_btn {
  font-family: 'DM Sans', sans-serif;
  position: absolute;
  border-radius: 8px;
  padding: 0;
  box-shadow: 0px 8px 28px -6px rgba(24, 39, 75, 0.62),
    0px 18px 88px -4px rgba(24, 39, 75, 0.34);
    bottom: 2rem;
    z-index: 1;
  }

  .account_view {
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-color: inherit;
    overflow: auto;
    margin-top: 8px;
  }

  .account_view_card {
    display: flex;
    flex-direction: row;
    /* align-items: center; */
    padding: 4px;
    background-color: white;
    box-shadow:
  1.8px 2.3px 6.8px rgba(0, 0, 0, 0.042),
  3.9px 5px 13.6px rgba(0, 0, 0, 0.048),
  7.6px 9.7px 21.3px rgba(0, 0, 0, 0.049),
  17.3px 22px 33.7px rgba(0, 0, 0, 0.049),
  77px 98px 80px rgba(0, 0, 0, 0.06)
;
    height: 84px;
    border-radius: 0.5rem;
    width: 90%;
    max-width: 500px;
    margin: 8px;
}
.logo {
  height: 100%;
  aspect-ratio: 1 / 1;
}

.account_view_card_info {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.card_info_code {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  font-size: 32px;
}
.token_display {
  margin-right: 4px;
}
.card_info_name {
  font-family: 'Inter';
  font-size: 20px;
  font-weight: 600;
}
